<div class="container-register">
    <div class="formOne">
        <div class="center register-portada">
            <p class="enphasis e-title center">Ayu es tu aliado en el camino a cumplir tus metas</p>
            <img class="portada-img" src="assets/family/familyInLivingRoom.png" alt="">
        </div>
        <div class="enphasisSecond">            
            <div class="margin2">
                <p>¿Cuál es tu nombre?</p>
                <input class="custom-input-text width-input" [(ngModel)]="titularNombre" type="text" placeholder="Roberto" name=""
                    id="" required>
                <p>¿Cuál es tu apellido?</p>
                <input class="custom-input-text width-input" required [(ngModel)]="titularApellido" type="text"
                    placeholder="Perez Lopez" name="" id="">            
                <p>Ingresa tu DNI*</p>
                <input class="custom-input-text width-input" required [(ngModel)]="titularDNI" type="number" placeholder="12345678"
                    name="" id="">
                <p>Ingresa tu numero telefónico</p>
                <input class="custom-input-text width-input" required [(ngModel)]="titularTelefono" placeholder="934762000" type="numer"
                    name="" id="">
            </div>
            <div class="center margin2">
                <button (click)="nextView()" class="btn-red-c margin">Siguiente</button>
            </div>
            
        </div>
    </div>

    <div class="hide formTwo">
        <div class="center register-portada">
            <p class="enphasis e-title center">Planifica un futuro mejor para tu familia un paso a la vez</p>
            <img class="portada-img" src="assets/family/familyInPark.png" alt="">
        </div>
        <p class="enphasis">Agrega a tu núcleo familiar:</p>
        <div class="row">
            <div class="column">
                <p>Nombre completo</p>
                <input class="custom-input-text" type="text" placeholder="" name="" id="">
                <input class="custom-input-text" type="text" placeholder="" name="" id="">
                <input class="custom-input-text" type="text" name="" id="">

            </div>
            <div class="column">
                <p>DNI</p>
                <input class="custom-input-text" type="number" name="" id="">
                <input class="custom-input-text" type="number" name="" id="">
                <input class="custom-input-text" type="number" name="" id="">

            </div>
        </div>
        <div>
            <button class="btn-outline-red">Omitir</button>
            <button (click)="lastNext()" class="btn-red-c">Siguiente</button>
        </div>
    </div>
    <div class="hide formThree">
        <div class="center register-portada">
            <p class="enphasis e-title center">Te incentiva , y te da el empujoncito que necesitas</p>
            <img class="portada-img" src="assets/family/twoGuys.png" alt="">
        </div>
        <div class="enphasisSecond margin2">
            <p class="enphasis e-title">Crea tu contraseña</p>
            <input class="custom-input-text width-input" type="password" name="" id="">
            <p>Confirma tu contraseña</p>
            <input class="custom-input-text width-input" type="password" name="" id="">
            <div class="center">
                <button (click)="saveNewUser()" class="btn-red-c margin">Registrar</button>
            </div>
        </div>
    </div>
</div>