<div class="center container-register">
    <p class="enphasis">¡En Yunta estamos orgullosos de <br> que trabajes para cumplir tus <br>sueños, estamos aqui para
        darte <br>una
        mano!</p>
    <div class="enphasisSecond center">
        <p>Ingresa tu Dni*</p>
        <input class="custom-input-text" type="number" placeholder="12345678" name="" id="">
        <p>¿Cuál es el nombre de tu familia?</p>
        <input class="custom-input-text" type="text" placeholder="Perez Lopez" name="" id="">
        <p>Agrega a tu nucleo familiar</p>
        <p>Ingresa el DNI de tu familiar</p>
        <input class="custom-input-text" type="number" placeholder="12345678" name="" id="">
        <button class="btn-red-principal">Registrar</button>
    </div>

</div>