@import "/src/styles.scss";
// .scroll-horizontal{
//     width:301px;
//     height: 193px;
//     overflow:scroll;
// }
* {
  padding: 0;
  margin: 0;
}

.star-content {
  // display: flex;
  margin: 20px 0;
}
.star {
  width: 150px;
}
.total {
  font-size: 30px;
  font-weight: bold;
}
.boxes-content {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
  height: 280px;
}

.info-box {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  p {
    color: white;
  }
  // align-items: center;
}
.num-day {
  color: #ffffff;
}
.info-color-box {
  background-color: $colorprimario2;
}
.add-box {
  background-color: $sombra;
  display: flex;
  align-items: center;
  border: 4px dashed $gris;
  p {
    color: $gris;
  }
}

.icon-alarma {
  width: 30px;
  height: 30px;
}

// ESTILOS DE LA OTRA VISTA
.report {
  padding: 15px;
}
.pad {
  padding: 10px 0;
}
.codigo {
  font-size: 22px;
  font-weight: bold;
}

.progress-bar2 {
  width: 100%;
  height: 60px;
}

.item-deposito {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  height: 20px;
  padding: 10px;
  margin-bottom: 7px;
}
th {
  font-size: 20px;
}

// NEW BOX
.img-paso1 {
  width: 300px;
  height: 45px;
  margin: 15px 0;
}

.img-box {
  display: flex;
  justify-content: center;
}

// SIGUIENTE VISTA
.content-fechaEnd {
  display: flex;
  justify-content: space-around;
  // margin: 0 10px;
}
.btn2 {
  background-color: $colorprimario2;
  border: none;
  color: white;
  border-radius: 0.4em;
}
.btn-dias {
  @include width-height(47%, 30px);
}
.btn-mes {
  @include width-height(30%, 30px);
}

.box-content {
  p {
    font-weight: bold;
    padding: 4px;
  }
  progress {
    background-color: #f3f3f3;
    border: 1px;
    height: 18px;
    width: 60px;
    border-radius: 9px;
  }
}
.progress-bar2 {
  width: 100%;
  .progress-bar2::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
  }
  .progress-bar2::-webkit-progress-value {
    background: $colorsecundario2;
    border-radius: 9px;
  }
}
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background: $colorsecundario2;
  border-radius: 9px;
}

.modal-bg {
  background-color: rgba(63, 58, 58, 0.282);
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: +1;
  p {
    color: $colorprimario2;
  }
  .plus {
    font-size: 40px;
    transform: rotate(45deg);
    position: relative;
    float: right;
    left: 90px;
    right: 2px;
  }
  .box-modal {
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    background: rgb(245, 242, 242);
    width: 250px;
    height: 330px;
  }

  .img-box {
    width: 200px;
  }
}

.user {
  width: 20%;
  height: 20%;
  margin: 15px;
  border-radius: 110px;
}
.es-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 23px;
}
.level {
  @include width-height(90px, 40px);
  background-color: $colorprimario;
  border: none;
  color: white;
  border-radius: 2.4em;
  margin: 1.1em;
}
