@import "/src/styles.scss";
// .scroll-horizontal{
//     width:301px;
//     height: 193px;
//     overflow:scroll;
// }
* {
  padding: 0;
  margin: 0;
}
.welcome {
  padding: 15px;
}
.pad-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.star-content {
  // display: flex;
  margin: 20px 0;
}
.total {
  font-size: 30px;
  font-weight: bold;
}
.boxes-content {
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.box-content {
  margin: 5px;
  width: 27%;
  // height: ;
  background-color: yellow;
  
  // align-content: center;
}
.info-box {
  
  // width: 5rem;
  height: 75%;
  // @include width-height(95%, 6.3rem);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  // align-items: center;
}
.num-day {
  color: #ffffff;
}
.info-color-box {
  background-color: blue;
}
.add-box {
  background-color: gray;
}

progress[value] {
  display: flex;
  width: 90%;
  height: 30px;
}

.icon-alarma {
  width: 60%;
  height: 45%;
}

// ESTILOS DE LA OTRA VISTA
.report {
  padding: 15px;
}
.pad {
  padding: 10px 0;
}
.codigo {
  font-size: 25px;
  font-weight: bold;
}
// progress[value] {
//   display: flex;
//   width: 90%;
//   height: 30px;
// }
.item-deposito {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  height: 20px;
  padding: 10px;
}
th {
  font-size: 20px;
}