<div class="modal-bg center">
    <div class="box-modal center">
        <p (click)="hide()" class="plus">+</p>
        <p>¡Felicidades, <br> estas un paso mas <br> cerca de cumplir tus<br> metas!</p>
        <img class="img-box" src="assets/family/familyOfThree.png">
    </div>
</div>

<div class="welcome bg-home enphasisSecond ">
    <!--  -->
    <div class="formWelcome">
        <p class="word-welcome margin-word  ">¡Bienvenida <br> Familia (nombre)!</p>
        <div class="center">
            <img src="assets/circlefamily.png" alt="familia">
            <div class="center level ">
                <p class="margin center">Nivel 1</p>
            </div>
        </div>


        <p class="margin center">Este mes has ahorrado :</p>
        <p class="total enphasis center margin">S./ 430.00</p>
        <div class="media" *ngFor="let meta in metas">
            <!-- <p>{{meta.tiempo}}</p>                                
                               
                <progress id="file" value="50" max="100"> 32% </progress>
                <p>{{meta.código}}</p>  -->
            <!-- <p>{{meta.meta}}</p>  -->
            <p>meta: {{meta.monto}}</p>
        </div>
        <div>
            <div class="center">
                <div class="boxes-content">

                    <!-- <div *ngFor="let meta of metas">
                        <div class="box-content center">
                            <div class="info-box info-color-box">
                                <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                                <p class="num-day">{{meta.tiempo}}</p>                                
                                <p>{{meta.código}}</p>
                                <p>{{meta.monto}}</p>
                                <progress id="file" value="50" max="100"> 32% </progress>
                            </div>
                            <p>{{meta.meta}}</p>
                        </div>
                    </div> -->
                    <div class="box-content center" (click)="nextView()">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p class="num-day">10 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="50" max="100"> 32% </progress>
                        </div>
                        <p>Alquiler</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>20 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="30" max="100"> 32% </progress>
                        </div>
                        <p>Luz</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>5 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="80" max="100"> 32% </progress>
                        </div>
                        <p>Pasajes</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>25 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="10" max="100"> 32% </progress>
                        </div>
                        <p>Banco X</p>
                    </div>
                    <div class="box-content center" (click)="addNewBox()">
                        <div class="info-box add-box">
                            <p>Agregar cajita</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DETALLES/INFORMACION DE TU CAJITA -->
    <div class="report enphasisSecond hide formDetalleBox">
        <h4 class="enphasis margin">Tu cajita</h4>
        <h2 class="enphasis center name-box pad">Alquiler</h2>
        <div class="center">
            <img src="assets/box.png" alt="caja">
        </div>

        <div class="center cod-deposito">
            <p class="pad">Código para depósito:</p>
            <p class="pad codigo">44565444-ALQ1</p>
        </div>
        <div class="row">
            <div class="column center">
                <p class="light">TE AYUDAMOS CON</p>
                <p class="bold">S/35</p>
            </div>
            <button class="btn-red-principal">¡Lo quiero!</button>
        </div>
        <br>
        <h2 class="enphasis">Tu progreso</h2>
        <p class="margin"> ⏰¡Estás a 2 semanas de cumplir tu meta!</p>
        <div class="progress-bar2">
            <progress id="file" value="50" max="100"> 32% </progress>
        </div>
        <p class="center margin">¡Has acumulado S/280 de S/600!</p>
        <br>
        <h3 class="enphasis">Tus depósitos:</h3>
        <br>
        <div class="item-deposito">
            <th>S/. 25.00</th>
            <th>12/10/2020</th>
        </div>
        <div class="item-deposito">
            <th>S/. 15.00</th>
            <th>10/10/2020</th>
        </div>
        <div class="item-deposito">
            <th>S/. 10.00</th>
            <th>5/10/2020</th>
        </div>
        <div class="item-deposito">
            <th>S/. 5.00</th>
            <th>4/10/2020</th>
        </div>
    </div>

    <!-- CREAR UNA NUEVA CAJITA -->
    <div class="new-box hide formAddBox">
        <div class="formHeadAddBox">
            <button>atras</button>
            <h3 class="enphasis center">Crea una nueva cajita</h3>
        </div>
        <div class="formNameBoxNew">
            <div class="center">
                <img class="img-paso1" src="assets/steps.png" alt="">
            </div>
            <p class="enphasis margin">¿Qué cajita quieres llenar?</p>
            <div class="center">
                <div class=" boxes-content">
                    <div class="info-box center info-color-box" (click)="boxAlquiler()">
                        <p>Alquiler</p>
                    </div>
                    <div class="info-box center info-color-box">
                        <p>Comida</p>
                    </div>
                    <div class="info-box center info-color-box">
                        <p>Salud</p>
                    </div>
                    <div class="info-box center info-color-box">
                        <p>Estudios</p>
                    </div>
                    <div class="info-box center info-color-box">
                        <p>Agua</p>
                    </div>
                    <div class="info-box center info-color-box">
                        <p>Luz</p>
                    </div>
                </div>
            </div>
            <p class="enphasis">Si no está, define tu propia cajita:</p>
            <input type="text" class="name-box margin custom-input-text width-input" required [(ngModel)]="nameOfBox"
                name="" id="">
            <div class="center">
                <button class="btn-red-c " (click)="addNameNewBox()">Siguiente</button>
            </div>

        </div>
        <div class="hide formMontoBox">
            <div class="center margin">
                <img class="img-paso1" src="assets/stepsTwo.png" alt="">
                <img class="img-box" src="assets/box.svg" alt="">
            </div>
            <p class="enphasisSecond margin">Para Alquiler</p>
            <p class="enphasis margin">¿Cuánto quieres ahorrar?</p>
            <input type="number" class="name-box margin custom-input-text width-input" required [(ngModel)]="cantOfBox">
            <div class="center">
                <button class="btn-red-c" (click)="addTotalNewBox()">Siguiente</button>
            </div>
        </div>
        <div class="hide formFechaLimiteBox">
            <div class="center">
                <img class="img-paso1 " src="assets/stepsComplete.png" alt="">
            </div>
            <p class="enphasis margin e-title">Debes llenar tu cajita con:</p>
            <p class="enphasisSecond margin es-title">S/. {{cantOfBox}}</p>
            <p class="enphasis margin e-title">¿Cuando lo necesitas?</p>
            <p class="enphasisSecond margin">En días</p>
            <div class="content-fechaEnd">
                <button class="btn2 btn-dias">7</button>
                <button class="btn2 btn-dias">15</button>
            </div>
            <p class="enphasisSecond margin">En meses</p>
            <div class="content-fechaEnd">
                <button class="btn2 btn-mes">1</button>
                <button class="btn2 btn-mes">3</button>
                <button class="btn2 btn-mes">6</button>
            </div>
            <p class="enphasisSecond margin">También puedes elegir la fecha que prefieras</p>
            <input type="date" class="custom-input-text width-input margin" required [(ngModel)]="dateLimiteOfBox">
            <div class="center">
                <button class="btn-red-c" (click)="addDataBoxFirestore()">Siguiente</button>
            </div>
        </div>
    </div>

    <!-- FORM DE LA VISTA FINAL CON DATOS DE LA CAJITA CREADA -->
    <div class="hide formConfimationBox">
        <div class="star-content center">
            <img class="star" src="assets/star.svg" alt="">
            <h3 class="enphasis e-title">¡Felicidades por tu nueva cajita! </h3>
        </div>

        <p class="enphasisSecond margin pad">Tú código es:</p>
        <h2 class="enphasis margin">{{codigoConcatenado}}</h2>
        <p class="enphasisSecond margin pad">Puedes encontrarlo al revisar el estado de tu cajita.</p>
        <p class="enphasis margin margin2">¡Si deposítas 17.80 soles diariamente en tu cajita, conseguirás tu meta en el
            tiempo establecido! </p>
        <div class="center margin pad">
            <button class="btn-red-c" (click)="listo()">Listo</button>
        </div>
    </div>
</div>
<app-nav-bar-bottom></app-nav-bar-bottom>