<div   class="welcome enphasisSecond">
    <h1 class="enphasis">¡Bienvenida Familia (nombre)!</h1>
    <div class="level-content">
        <p class="pad-margin">Nivel Ahorrado:</p>
        <div class="star-content">
            *****
        </div>

        <p class="pad-margin">Este mes has ahorrado :</p>
        <p class="total enphasis pad-margin">S./ 430.00</p>
        <div>
            <div class="center">
                <div class="boxes-content">
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p class="num-day">5 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="50" max="100"> 32% </progress>
                        </div>
                        <p>Pasajes</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>5 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="50" max="100"> 32% </progress>
                        </div>
                        <p>Comida</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>5 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="50" max="100"> 32% </progress>
                        </div>
                        <p>Alquiler</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box info-color-box">
                            <img class="icon-alarma" src="../../../assets/alarma.svg" alt="image">
                            <p>5 días</p>
                            <!-- <label for="file">Downloading progress:</label> -->
                            <progress id="file" value="50" max="100"> 32% </progress>
                        </div>
                        <p>Banco X</p>
                    </div>
                    <div class="box-content center">
                        <div class="info-box add-box">
                            <p>Agregar cajita</p>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="report enphasisSecond">
            <h4 class="enphasis center">Tu cajita</h4>
            <h2 class="enphasis name-box pad">ALQUILER</h2>
            <div class="enphasis">
                <p class="pad">Código para depósito</p>
                <p class="pad codigo">44565444-ALQ1</p>
            </div>
            <p>¡Estás a 2 semanas de cumplir tu meta!</p>
            <!-- <label for="file">Downloading progress:</label> -->
            <progress id="file" value="50" max="100"> 32% </progress>
            <h1 class="enphasis">Tus depósitos</h1>
            <div class="item-deposito">
                <th>S/. 25.00</th>
                <th>12/10/2020</th>
            </div>
            <div class="item-deposito">
                <th>S/. 25.00</th>
                <th>12/10/2020</th>
            </div>
            <div class="item-deposito">
                <th>S/. 25.00</th>
                <th>12/10/2020</th>
            </div>

        </div>