<div >
    <div class="center">
        <p class="enphasis center">Yunta es tu aliado en el camino a <br> cumplir tus metas</p>
        <img class="" src="assets/family/familyInLivingRoom.png" alt="">
    
    </div>
    <div class="enphasisSecond">
        <p class="enphasis">Iniciar sesión</p>
        <p>Ingresa tu DNI</p>
        <input class="custom-input-text width-input" [(ngModel)]="titularNombre" type="text" placeholder="45983709"
            name="" id="">
        <p>Ingresa tu contraseña</p>
        <input class="custom-input-text width-input" [(ngModel)]="titularApellido" type="password" required 
            name="" id="">
    </div>
    <button class="btn-red-c disablet ">Entrar</button>
</div>