<div >
    <div class="center">
        <p class="enphasis center e-title">Ayu es tu aliado en el camino a <br> cumplir tus metas</p>
        <img class="" src="assets/family/familyInLivingRoom.png" alt="">
    </div>
    <div class="enphasisSecond margin2">
        <p class="enphasis e-title">Iniciar sesión</p>
        <p>Ingresa tu DNI</p>
        <input class="custom-input-text width-input" [(ngModel)]="DNI" type="number" placeholder="45983709"
            name="" id="">
        <p>Ingresa tu contraseña</p>
        <input class="custom-input-text width-input" [(ngModel)]="password" type="password" required 
            name="" id="">
        <div class="center margin">
            <button (click)="getIn()" class="btn-red-c">Entrar</button>
        </div> 
    </div>       
</div>