/* You can add global styles to this file, and also import other style files */
$colorprimario: #fe4a49;
$colorprimario2: #2ab7ca;
$colorsecundario: #fed766;
$colorsecundario2:#A4F490;
$sombra : #E6E6EA;
$gris: #828282;
* {
    font-family: roboto, sans-serif;
    scroll-behavior: smooth;
    outline:none;
}
// PROBANDO
body {
    margin: 25px;
}
// *****
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
@mixin display-flex-direction($display,$flex-direction){
    display:$display;
    flex-direction:$flex-direction;
}
.enphasis {
    color: $colorprimario;
}
.enphasisSecond {
    color: $colorprimario2;
}
.center {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-red-principal {
    @include width-height(13em, 4em);
    background-color: $colorprimario;
    border: none;
    color: white;
    border-radius: 0.4em;
    margin: 1.1em;
}
.btn-outline-red {
    @include width-height(13em, 4em);
    background-color: transparent;
    border: 1px solid $colorprimario;
    color: $colorprimario;
    border-radius: 0.4em;
}
.custom-input-text {
    justify-content: center;
    height: 30px;
    border: 3px solid $colorprimario2;
    border-radius: 7px;
}
// .box-content {
//     border-radius: 7px;
//     width: 180px;
//     height: 100px;
//     display:flex;
//     flex-direction: row;
//     box-sizing: border-box;
//     background-color: $colorprimario2;
//     margin: 7px;
// }
.wrap {
    display: flex;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: space-around;
}
.hide{
    display: none;
}

//     overflow: scroll;
//     width: 360px;
//     height: 500px;
// }
// .wrap {
//     display: flex;
//     box-sizing: border-box;
//     flex-flow: column wrap;
//     justify-content: space-around;
// }
