/* You can add global styles to this file, and also import other style files */
$colorprimario: #fe4a49;
$colorprimario2: #2ab7ca;
$colorsecundario: #fed766;
$colorsecundario2: #a4f490;
$sombra: #e6e6ea;
$gris: #828282;
* {
    font-family: roboto, sans-serif;
    scroll-behavior: smooth;
    outline: none;
}
// PROBANDO
body {
    margin: 25px;
}
// *****
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
@mixin display-flex-direction($display, $flex-direction) {
    display: $display;
    flex-direction: $flex-direction;
}
.enphasis {
    color: $colorprimario;
}
.enphasisSecond {
    color: $colorprimario2;
}
.center {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-red-principal {
    @include width-height(13em, 4em);
    background-color: $colorprimario;
    border: none;
    color: white;
    border-radius: 2.4em;
    margin: 1.1em;
}
.btn-outline-red {
    @include width-height(13em, 4em);
    background-color: transparent;
    border: 1px solid $colorprimario;
    color: $colorprimario;
    border-radius: 2.4em;
}
.btn-red-c {
    @include width-height(80%, 38px);
    background-color: $colorprimario;
    border: none;
    color: white;
    border-radius: 100px;
    // margin: 1.1em;
}
.custom-input-text {
    justify-content: center;
    height: 30px;
    border: 3px solid $colorprimario2;
    border-radius: 7px;
}

.wrap {
    display: flex;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: space-around;
}
.hide {
    display: none;
}
.width-input {
    width: 100%;
}
.column {
    @include display-flex-direction(flex, column);
    justify-content: space-between;
    width: 50%;
}

.row {
    @include display-flex-direction(flex, row);
    justify-content: space-between;
    justify-items: center;
    p {
        color: $colorprimario2;
    }
    input[type="text"],
    input[type="number"] {
        margin: 4px;
    }
}
.auto {
    margin: auto;
    box-sizing: border-box;
    .e-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }
    .portada-img {
        margin: 0 25px;
        width: 90%;
    }
    .margin {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .margin2 {
        margin-left: 15px;
        margin-right: 15px;
    }
    button:disabled {
        background-color: rgba(255, 0, 0, 0.6);
    }
}
